// Site Colors
$color-primary: #7c6ea8;
$color-primary-light: #a593e0;
$color-primary-dark: #534a70;
$color-grey: #e0e3da;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size:  1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;